.main1{display:-webkit-box;display:-ms-flexbox;display:flex;border-radius:100px;border:dotted 1px #fff;text-align:center;width:100%;height:100px}.main2{color:#000;border-radius:1000px;display:-webkit-box;display:-ms-flexbox;display:flex}

/*# sourceMappingURL=maps/style.css.map */
